body{
    padding: 0%;
    margin: 0%;
    background-color: #F5F8FF;
}
:root{
    --col:#4E47FF;
}
h1{
    font-size: 34px;
    color: var(--col);
}
header{
    background-image: url(img/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 698px;
}
#one,#two{
    margin: 0%;
}
.banner{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.title_i > div{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    font-family: Raleway;
}

.Signup_button{
    height: fit-content;
    padding: 5px;
    background-color: var(--col);
    padding: 27px;
    border: 0;
    padding-top: 11px;
    padding-bottom: 11px;
    border-radius: 4px;
}
.title_i{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 550px;
    flex-wrap: wrap;

}
.focused_button{
    padding: 5px;
     background-color: var(--col);
    padding-left: 25px;
    padding-right: 25px;
    border: 0;
    border-radius: 4px;
    margin-top: 30px;
    padding-top: 11px;
    padding-bottom: 11px;

}
.action{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
#three{
    font-size: 42px;
    font-family: inter;
    font-weight: bold;
    
}
#four,#five{
    line-height: 30px;
    font-size: 24px;
    color: #252432;
    opacity: 50%;
    margin: 0%;
}
.launch_button{
    background-color: var(--col);
    border: 0;
    padding-top: 11px;
    padding-bottom: 11px;
    border-radius: 6px;
    margin-top: 20px;
    padding-left: 38px;
    padding-right: 38px;
}
.webflow_img{
    border-radius: 48px;
    width: 100%;
}
.action > div{
    margin-top: 100px;
}
.productive_users{
    width: 80%;
    margin: auto;
    position: relative;
    margin-top: 150px;
    padding: 20px;
}
.productive_users::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;     
    height: 100%;    
    background-color: var(--col);
    opacity: 10%;  
    border-radius: 24px;
    z-index: -1;    
}
#six{
    font-family: raleway;
    color: black;
    font-weight: bold;
    font-size: 42px;
    text-align: center;
}
#seven{
    font-size: 25px;
    font-family: inter;
    font-weight: bold;
}
.numbers{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.num{
    font-family: inter;
    font-weight: bold;
    font-size: 80px;
    color: var(--col);
}
.sts{
    font-family: inter;
    font-size: 20px;
    color: #000000;
    opacity: 50%;
}
.card_temp2{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.card_temp{
    margin-top: 100px;
}
.user{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    font-family: raleway;
}
#eight,#nine{
    font-size: inter;
    font-size: 24px;
    color: black;

}
.reviewer{
    color: gray;
    font-weight: bold;
}
.date{
    color: black;
    opacity: 0.5;
}
.comboimage{
    width: 100%;
    border-radius: 50%;
}
.combo{
    display: flex;
    gap: 10px;
}
.comb_info{
    display: grid;
    grid-template-columns: 1fr;
}
.cards{
    background-color: #FAFCFF;
    padding: 55px;
    border-radius: 10%;
}
.info_section{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 200px;
}
#twelve,#thirteen{
    margin: 0%;
    font-family: raleway;
    font-size: 97px;
    font-weight: bold;
    color: black;
}
input{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border: 1px solid #D6DDED;
    border-radius: 6px;
    width: 400px;
    text-align: start;
    background-color: transparent;
    margin-bottom: 25px;
    margin-right: 20px;
    margin-top: 6px;
    color: black;
}
#area{
    padding-top: 20px;
    padding-bottom: 40px;
    text-decoration: none; 
    width: 400px;
    margin-top: 6px;
    max-width: 500px;
    padding-left: 10px;
    resize: none;
    background-color:transparent;
    border-radius: 6px;
    color: black;

}
label{
    font-size: 18px;
    font-family: inter;
}
.g_touch_button{
    background-color: var(--col);
    max-width: 415px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    color: white;
    border: none;
    text-align: center;
    margin-top: 4px;
}
button{
    transition: background-color 1.2s;
}
button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.final_sec{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    width: 100%;
    min-height: 400px;
}
.contacts div a{
    text-decoration: none;
    color: #8987A1;
}
#fourteen{
    font-size: 100px;
    color: var(--col);
    font-weight: bold;
    font-family: inter;
    margin: 0%;
}
#fifteen,#sixteen{
    color: #8987A1;
    font-size: 16px;
    margin: 0%;
    text-align: center;
}
.contacts{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
@media screen and (max-width: 1198px) {
.info_section{
    justify-content: center;
}
}
@media screen and (max-width: 544px) {
input{
    width: 300px;
}
#area{
    width: 300px;
}
.g_touch_button{
    max-width: 316px;
    width: 100%;

}
}
@media screen and (max-width: 432px) {
input{
    width: 180px;
}
#area{
    width: 180px;
}
.g_touch_button{
    max-width: 195px;
    width: 100%;

}
}


